@import 'tailwindcss';

@font-face {
  font-family: 'Long';
  src: url('/fonts/long.woff');
}

@font-face {
  font-family: 'Round';
  src: url('/fonts/round.woff');
}

@font-face {
  font-family: 'Round Bold';
  font-weight: bold;
  src: url('/fonts/round-bold.woff');
}

@theme {
  --font-sans: 'Round', sans-serif;
  --font-long: 'Long', sans-serif;
  --font-round-bold: 'Round Bold', sans-serif;
  --color-yellow: #fff9cb;
  --color-pink: #ffb0c4;
  --breakpoint-sm: 40rem;
  --breakpoint-xs: 20rem;
  --breakpoint-3xl: 120rem;
}

body {
  overflow-x: hidden;
  font-family: 'Round', sans-serif;
  background: linear-gradient(
    223.17deg,
    rgb(28, 24, 41) 0%,
    rgb(27, 24, 40) 8.61%,
    rgb(25, 23, 36) 17.21%,
    rgb(22, 21, 32) 25.82%,
    rgb(20, 19, 28) 34.42%,
    rgb(18, 18, 24) 43.03%,
    rgb(17, 17, 23) 51.63%
  );
  overscroll-behavior-y: none;
}

main {
  background: linear-gradient(
    223.17deg,
    rgb(28, 24, 41) 0%,
    rgb(27, 24, 40) 8.61%,
    rgb(25, 23, 36) 17.21%,
    rgb(22, 21, 32) 25.82%,
    rgb(20, 19, 28) 34.42%,
    rgb(18, 18, 24) 43.03%,
    rgb(17, 17, 23) 51.63%
  );
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .col-center {
    @apply flex flex-col items-center justify-center;
  }
  .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .debug {
    @apply border-2 border-red-500;
  }
}

@layer components {
  main {
    @apply overflow-x-hidden;
  }
  nav {
    @apply fixed top-0 left-0 z-100 flex w-full items-center justify-between p-5 md:p-16;
  }
  .gradient-title {
    @apply font-round-bold bg-linear-to-r from-pink-400 via-red-400 to-orange-400 bg-clip-text text-center text-[clamp(3rem,10vw,7rem)] leading-[clamp(2.5rem,8vw,6rem)] font-extrabold! text-transparent uppercase;
  }
  .hero-section {
    @apply relative h-dvh touch-pan-y overflow-hidden;

    .scale-out {
      @apply h-full object-cover md:scale-125;
    }
    .title-logo {
      @apply absolute top-0 left-1/2 h-full w-full -translate-x-1/2 object-cover md:scale-125;
    }
    .trailer-logo {
      @apply absolute -bottom-5 left-1/2 w-48 -translate-x-1/2;
    }
    .play-img {
      @apply absolute top-1/2 left-1/2 flex size-20 -translate-x-1/2 -translate-y-1/2 items-center justify-center rounded-full bg-white md:size-28;
    }
    .fake-logo-wrapper {
      @apply xs:top-[9.5rem] 3xl:top-48 absolute left-1/2 z-50 -translate-x-1/2 sm:top-[12.8rem] md:top-[8.5rem] 2xl:top-44;
    }

    .overlay-logo {
      @apply 3xl:w-80 size-full w-60 object-cover opacity-0 md:w-60 2xl:w-72;
    }
  }
  .first-vd-wrapper {
    .first-vd {
      @apply size-full object-cover object-[75%_10%] md:object-[50%_7%];
    }
  }
  .entrance-message {
    @apply absolute top-0 z-20 h-svh w-full overflow-hidden opacity-100;

    .entrance-logo {
      @apply 3xl:w-80 xs:top-[9.5rem] 3xl:top-48 absolute left-1/2 w-48 -translate-x-1/2 sm:top-[12.8rem] md:top-[8.5rem] md:w-60 2xl:top-44 2xl:w-72;
    }

    .text-wrapper {
      @apply 3xl:top-48 mt-40 md:mt-60 2xl:mt-44;
    }
  }
  .jason {
    /* @apply relative z-10 mt-60 flex flex-col justify-between gap-5 overflow-x-hidden py-40 ps-20 lg:flex-row lg:ps-40 2xl:ps-80; */

    h1 {
      @apply text-yellow font-long mb-12 text-8xl uppercase md:text-[clamp(3rem,5vw,7rem)];
    }
    h2 {
      @apply text-pink mb-7 text-4xl md:text-[clamp(2rem,2.5vw,5rem)];
    }
    p {
      @apply text-lg text-white md:text-[clamp(1rem,1.5vw,3rem)];
    }
    .jason-1 {
      @apply bg-yellow col-span-4 md:row-start-1 lg:mt-30;

      img {
        @apply size-full object-cover object-[5%_center] transition duration-700 ease-in-out hover:scale-[0.98];
      }
    }
    .jason-2 {
      @apply bg-yellow col-span-4 md:col-span-1 md:col-start-2 lg:-mt-10;

      img {
        @apply size-full object-cover object-[80%_center] transition duration-700 ease-in-out hover:scale-x-[0.97] hover:scale-y-[0.98];
      }
    }
    .jason-3 {
      @apply bg-yellow col-span-4 md:h-3/4 md:w-3/4;

      img {
        @apply size-full object-cover object-[42%_center] transition duration-700 ease-in-out hover:scale-[0.97];
      }
    }
  }
  .lucia {
    @apply relative;
  }
  .lucia-life {
    /* @apply relative z-10 mt-60 flex w-dvw flex-col justify-between gap-5 overflow-x-hidden py-40 lg:flex-row; */
    h1 {
      @apply text-yellow font-long mb-12 text-7xl uppercase md:text-[clamp(3rem,5vw,7rem)];
    }
    h2 {
      @apply text-pink mb-7 text-4xl md:text-[clamp(2rem,2.5vw,5rem)];
    }
    p {
      @apply text-lg text-white md:text-[clamp(1rem,1.5vw,3rem)];
    }
    .lucia-1 {
      @apply bg-yellow col-span-4 md:col-span-2 md:col-start-1 md:row-start-1 md:mt-20;

      img {
        @apply size-full object-cover [object-position:85%_center] transition duration-700 ease-in-out hover:scale-[0.98];
      }
    }
    .lucia-2 {
      @apply bg-yellow col-span-4 justify-self-end md:col-span-1 md:col-start-2 md:w-3/4;

      img {
        @apply size-full object-cover [object-position:50%_center] transition duration-700 ease-in-out hover:scale-[0.98];
      }
    }
    .lucia-3 {
      @apply bg-yellow col-span-4 md:col-start-3 md:h-3/4 md:w-3/4;

      img {
        @apply size-full object-cover object-[52%_center] transition duration-700 ease-in-out hover:scale-[0.98];
      }
    }
  }

  .final-message {
    @apply z-50 h-screen w-full overflow-hidden opacity-100;
  }
}

.black-gradient-bg {
  background: linear-gradient(
    223.17deg,
    rgb(28, 24, 41) 0%,
    rgb(27, 24, 40) 8.61%,
    rgb(25, 23, 36) 17.21%,
    rgb(22, 21, 32) 25.82%,
    rgb(20, 19, 28) 34.42%,
    rgb(18, 18, 24) 43.03%,
    rgb(17, 17, 23) 51.63%
  );
}

.radial-gradient {
  mask-image: radial-gradient(circle at 50% 100vh, black 0%, transparent 0%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.mask-wrapper {
  mask-image: url('/images/big-hero-text-cropped.svg');
  mask-repeat: no-repeat;
}

.animated-gradient-bg {
  background: linear-gradient(135deg, #1e2a52 0%, #6e4b91 100%);
}

.jason-content {
  background: radial-gradient(ellipse, #111117 20%, transparent 70%);
}

.lucia-life-content {
  background: radial-gradient(ellipse, #111117 20%, transparent 70%);
}
